page {
  background-color: #f6f6f6;
}

view.container {
  view.item {
    padding: 30rpx;
    padding-bottom: 0;
    background-color: #fff;
    margin: 20rpx 0;
    view.main {
      margin-top: 20rpx;
      margin-bottom: 20rpx;
      view.images {
        image {
          width: 100%;
        }
      }
    
      view.desc {
        font-size: 30rpx;
        line-height: 40rpx;
        font-weight: 500;
        color: #333;
        font-style: normal;
        view.title{
          word-wrap: break-word;
          word-break: break-all;
          white-space: pre-line;
        }
        .item_b{
          padding: 0 10rpx;
          background-color: #fd79a8;
          color: #fff;
          border-radius: 4rpx;
          height: 40rpx;
          line-height: 40rpx;
          font-size: 26rpx;
          text-align: center;
          margin: 10rpx 0;
          width: 80rpx;
        }
      }
    }

    view.footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1rpx solid var(--borderColor);
      padding: 20rpx 0;
      view.browsing {
        font-size: 26rpx;
        color: #2d98da;
        font-weight: 500;
        font-style: normal;
        line-height: 60rpx;
      }

      view.button_b {
        .van-button {}
      }
    }
  }
}