// @import "./store_index.skeleton.wxss"; 
page{
  background-color: #F5F5F5;
}
.swiper_box{
  padding-bottom: 20rpx;
  background-color: #fdfdfd;
}

.tab_offline{
  // padding-top: 20rpx;
  .van-tabs__content{
    // margin-top: 20rpx;
  }
}

.van-sticky{
  background-color: #fdfdfd;
  padding-bottom:20rpx;
}
.van-tabs__wrap{
  // padding: 20rpx;
  background-color: #fff;
}