// 这里写wxs代码  将消息格式化  给的数字 显示对应的文字
/* 
  
*/
var userType = function (str) {
  // 根据不同的num值 返回不同的内容
  // let n = num
  var result = '其他人员';
  switch (str) {
    case 'CUSTOMER':
      result = "普通会员"
      break;
      case 'SELLER':
        result = "服务人员"
      break;
      case 'ORGANIZATION':
        result = "校园组织"
      break;
      case 'ASSOCIATION':
        result = "校园社团"
      break;
      case 'MANAGEMENT':
        result = "管理员"
      break;
    default:
      result = "其他人员"
      break;
  }
  return result
}

var uType = function (str) {
  // 根据不同的num值 返回不同的内容
  // let n = num
  var result = '其他人员';
  switch (str) {
    case '10':
      result = "普通会员"
      break;
      case '20':
        result = "服务人员"
      break;
      case '30':
        result = "校园组织"
      break;
      case '40':
        result = "校园社团"
      break;
      case '50':
        result = "管理员"
      break;
    default:
      result = "其他人员"
      break;
  }
  return result
}

module.exports = {
  userType: userType,
  uType:uType
};